<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body class="theme-base-08 bottombar-overlay sidebar-overlay">

    {% include sidebar.html %}
    {% include bottombar.html %}

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="/" title="Home">{{ site.title }}</a>
            <small>{{ site.tagline }}</small>
          </h3>
        </div>
      </div>

      <div class="container content">
      {% if page.url == "/" %}
          {% for post in site.posts %}
            <h2 class="post-title"><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></h2>
            <span class="post-date">{{ post.date | date_to_string }}</span>
            {{ post.content | strip_html | truncatewords:75}}<br>
            <a href="{{ post.url }}">> Read more...</a><br><br>
          {% endfor %}
          <br><br>
        {% else %}
          {{ content }}
        {% endif %}
      </div>
    </div>

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>
    <label for="bottombar-checkbox" class="bottombar-toggle"><img style="margin:0px" src="/glyphicons/png/glyphicons_330_blog.png"/></label>



    <script>
      (function(document) {
        var toggle = document.querySelector('.sidebar-toggle');
        var toggle_bottombar = document.querySelector('.bottombar-toggle');
        var sidebar = document.querySelector('#sidebar');
        var bottombar = document.querySelector('#bottombar');
        var checkbox = document.querySelector('#sidebar-checkbox');
        var checkbox_bottombar = document.querySelector('#bottombar-checkbox');

        document.addEventListener('click', function(e) {
          var target = e.target;

        }, false);
      })(document);
    </script>
  </body>
</html>
